<h2>Products</h2>

<div *ngFor="let produto of products">
  <a [title]="produto.name + ' detalhes '"
     [routerLink]="['products',produto.id]">
    <h3>{{ produto.name }}</h3>
  </a>

  <p *ngIf="produto.description">Descrição: {{ produto.description }}</p>

  <button type="button" (click)="share()">Compartilhar</button>

  <app-product-alerts
    [produtoX]="produto"
    (notificacao)="onNotify()"
  ></app-product-alerts>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
